.loginContainer {
    display: inline-grid;
    margin-top: 50px;
    padding: 100px;  
    background-color:#F8F8FF;
}

.loginForm {
    border: 3px solid #ccc;
    padding: 100px;
    box-shadow: 0 4px 3px black;
    background-color:#F8F8FF;
}

input[type=email], input[type=password], input[type=submit] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: transparent;
}

input[type=submit] {
    border: none;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
